#Travel{
    color:black;
    background-color: cadetblue;
    border-left: 16px dotted black;
}
.details{
    color:black;
    background-color:cadetblue;
}
.details{
    text-align:justify;
}
.no-visit{
    background-color: chartreuse;
    border:10px;
    padding:2px;
}